.dashboard-header{
  background-color: #000;
  width: 100%;
  display: flex;
  color: #fff;
  justify-content: space-between;
  padding: 10px;
}

.dashboard-header p{
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
}

.menu-icon, .graph-icon{
  fill: #fff;
  height: 30px;
  width: 30px;
}

.principal-menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--gray-1);
  transform: translateX(-100vw);
}

.data-driver{
  width: 100%;
}

.header-section{
  width: 100%;
  background-color: var(--gray-2);
  padding: 3px;
  color: #fff;
  font-weight: 600;
}

.driver-info{
  width: 100%;
  display: flex;
  gap: 5px;
  padding: 5px 10px;
}

.driver-info span{
  font-weight: 700;
}
.driver-menu-container{
  background-color: var(--gray-1);
}
.driver-menu ul{
  width: 100%;
  display: grid;
  list-style: none;
  justify-content: space-evenly;
  gap: 1px;
  grid-template-columns: repeat(6, 1fr);
}

.driver-menu li{
  display: flex;
  flex-direction: column;
  align-items: center;
  aspect-ratio: 9/13;
  width: 100%;
  font-size: 9px;
  text-align: center;
  gap: 10px;
  padding-top: 5px;
  transition: .2s;
}

.driver-menu li:active{
  transform: scale(0.90);
}

.driver-menu-icon{
  aspect-ratio: 1/1;
  width: 80%;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.driver-menu-icon svg{
  width: 60%;
  height: 60%;
  fill: #fff;
}
.driver-table{
  font-size: 8px;
  font-weight: 700;
  padding: 10px 5px;
  
}

table, tr{
  display: flex;
  width: 100%;
}
.first-row td{
  display: flex;
  justify-content: center;
  border: .1px solid #000;
  min-width: calc(100vw/29);
  padding: 2px 0px;
}


.row-vertical td{
  aspect-ratio: 9/11;
  display: flex;
  justify-content: center;
  border: .1px solid #000;
  min-width: calc(100vw / 58);
  padding: 2px 0px;
}

.total-cell{
  min-width: calc((100vw/29) * 2) !important;
}

.first-col{
  min-width: calc((100vw/29) * 2) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}
