:root{
  --primary-color: #ec8a15;
  --gray-1: #e2e2e2;
  --gray-2: #636764;
  --gray-3: #3b3d40;
  --gray-4:  #2c2c31;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
  width: 100%;
  min-height:100vh;
}

.main, .index-main{
  animation: entryScreen .75s;
}

.orange{
  background-color: var(--primary-color);
}

.gray{
  background-color: var(--gray-1);
}

@keyframes entryScreen {
  0%{
    transform: translateX(-100vw);
  }
  100%{
    transform: translateX(0);
  }
}