
body{
  background-color: var(--grey-3);
}

.index-main{
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.index-header{
  width: 100%;
  display: grid;
  place-items: center;
}

.index-header img{
  width: 80%;
  padding: 10px;
  background-color: #fff;
}
.principal-text svg{
  width: 40px;
  height: 40px;
  fill: var(--primary-color);
}

.container_principal-text{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.principal-text{
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-color);
  font-size: 24px;
}

.index-footer{
  display: grid;
  place-items: center;
}

.btn-access{
  display: flex;
  width: 85%;
  max-width: 500px;
  text-decoration: none;
  color: var(--grey-4);
  background-color: var(--primary-color);
  padding: 15px;
  font-size: 18px;
  font-weight:700;
  justify-content: center;
  transition: .1s linear;
}

.btn-access:active{
  transform: scale(0.95);
}