/*-------- Cabecera-----------*/
.modal-header h3{
  color: var(--primary-color);
  font-weight: bold;
}
.cabecera-modal_body{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.cabecera-modal_p1{
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  gap: 50px;
}

.cabecera-modal_p1 img{
  width: 100%;
}

.cabecera-modal_p1-rows{
  display: grid;
}

.cabecera-modal_p1-row{
  display: flex;
  align-items: center;
  font-size: 28px;

  & svg {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    fill: var(--secundary-color);
  }

  & span{
    color: var(--primary-color);
    font-weight: bolder;
    margin-right: 10px;
  }
}

.cabecera-modal_p2{
  max-width: 80%;
  text-align: center;
  font-size: 20px;
}

.cabecera-modal_p3{
  display: grid;
  max-width: 80%;
  grid-template-columns: 40% 60%;
  font-size: 18px;
}

.cabecera-modal_p3-col1{
  display: flex;
  flex-direction: column;
  justify-content: center;

  & ._p3-col1_row1 div {
    display: flex;
    gap: 20px;

    & svg{
      height: 50px;
      width: 50px;
    }

    & p span{
      font-weight: bold;
      color: var(--primary-color);
    }
  }

  & ._p3-col1_row2 {
    list-style: none;
    margin: 30px 0px;
    padding: 0;


    & li span{
      color: var(--primary-color);
      font-weight: bold;
    }
  }



}

.cabecera-modal_p3-col2{
  display: flex;

  & img{
    width: 100%;
    object-fit: contain;
  }
}

.cabecera-modal_p4 p{
  font-size: 36px;
  text-align: center;

  & span{
    color: var(--primary-color);
    font-weight: bold;

    & small{
      font-size: 18px;
    }
  }
}

/*-------- Carrito Lunch -----------*/

.lunch-modal-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  & img{
    max-width: 60%;
  }

  & .lunch-modal_lunch-data ._lunch-data_rows{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    font-size: 36px;
    align-items: center;

    & svg{
      width: 100px;
      height: 100px;
      fill: var(--secundary-color);
    }

    & span{
      color: var(--primary-color);
      font-weight: bold;
    }
  }

  & .lunch-modal_lunch-description{
    width: 100%;
    max-width: 80%;
    font-size: 18px;
    text-align: center;
  }

  & .lunch-modal_lunch-prise{
    font-size: 28px;

    & span{
      color: var(--primary-color);
      font-weight: bold;
    }

    & small{
      font-size: 18px;
    }
  }
}

/*-------- Landing Page -----------*/
.landing-modal-body{
  display: flex;
  gap: 20px;
  align-items: center;

  & img{
  width: 60%;
  padding: 0px 20px;
  }

  & p{
    color: var(--primary-color);
  }

}

/*-------- Pantallas de Autobuses -----------*/
.pautobuses-modal-body{
  display: flex;
  flex-direction: column;
  align-items: center;

  & img{
    width: 100%;
  }

  & .pautobuses-modal_screen-data{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 32%);
    padding: 20px;
    gap: 20px;

    & ._screen-data_cols{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 20px 0px;

      & img{
        max-width: 80%;
      }

      & span{
        display: flex;
        font-size: 28px;
        font-weight: bold;

        & svg{
          width: 50px;
          height: 50px;
          margin-right: 20px;
          fill: grey;
        }

      }
    }
  }

  & .pautobuses-modal_screen-prise{
    text-align: center;
    font-size: 20px;
    
    & p{
      font-size: 36px;

      & span{
        color: var(--primary-color);
        font-weight: bold;
      }

      & small{
        font-size: 18px;
      }
    }
  }

  & .pautobuses-modal_screen-size{
    width: 100%;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    
    & ._screen-size_cols{
      display: flex;
      flex-wrap: wrap;
      width: 35%;
      gap: 10px;

      & h4{
        width: 100%;
        margin: 0;
        font-weight: bold;
      }

      & img{
        width: 30%;
        height: 55%;
      }

      & ul{
        list-style: none;
        padding: 0;
        font-size: 18px;
        
        & span{
          color: var(--primary-color);
        }
      }

    }
  }

}

/*-------- Pantallas de taquilla -----------*/
.ptaquilla-modal-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  & img{
    width: 100%;
  }

  & .ptaquilla-modal_taquilla-data{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & ._taquilla-data_rows{
      display: grid;
      place-items: center;
      grid-template-columns: repeat(4, 1fr);
      
  
      & img{
        width: 100%;
      }

      & .taquillas-icon{
        width: 60%;
        background-color: red;
      }

      & p{
        font-size: 24px;
        font-weight: bold;
        color: var(--primary-color);

        & span{
          font-weight: normal;
        }
      }

      & div {
        color: var(--secundary-color);

        & svg {
          fill: var(--secundary-color);
          margin-right: 10px;
        }
      }
    }
  }

  & .ptaquilla-modal_taquilla-prise{
    margin-top: 20px;
    & small{
      font-size: 18px;
    }

    & p{
      font-size: 36px;

      & span{
        color: var(--primary-color);
        font-weight: bold;
      }
    }
  }

  & .ptaquilla-modal_taquilla-size{
    display: flex;
    width: 90%;
    justify-content: center;
    margin-bottom: 50px;

    & ._taquilla-size_cols{
      width: 45%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      & h4{
        width: 100%;
        font-weight: bold;
      }

      & svg{
        width: 80px;
        height: 80px;
      }

      & p{
        color: grey;
        font-size: 18px;
      }

      & ul{
        list-style: none;
        padding: 0px 15px;
        margin: 0;

        & li span{
          color: var(--primary-color);
        }
      }

    }
  }
}

/*-------- Portaboleto -----------*/
.portaboleto-modal-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 18px;

  & .portaboleto-modal_example{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50px;

    & img{
      width: 25%;
      height: 25%;
    }

    & .portaboleto_example-rows{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;

      & .portaboleto_example-row{
        display: flex;
        gap: 20px;
        align-items: center;
        font-size: 36px;
        color: var(--primary-color);

        & svg{
          fill: var(--secundary-color);
        }

        & span {
          font-weight: bold;
        }
      }
    }
    
  }

  & .portaboleto_description{
    width: 100%;
    max-width: 80%;
    text-align: center;
  }

  & .portaboleto_size{
    display: flex;
    width: 90%;
    padding: 0px 30px;

    & .portaboleto_size-cols{
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & h4{
        font-size: 24px;

        & span{
          color: var(--primary-color);
        }
      }

      & ul {
        list-style: none;
        margin-top: 10px;
        padding: 0;
        font-size: 24px;

        & li span{
          color: var(--primary-color);
        }
      }

      & img{
        width: 100%;
      }
    }
  }

  & .portaboleto_prise{
    font-size: 36px;
    text-align: center;

    & span{
      color: var(--primary-color);
      font-weight: bold;

      & small{
        font-size: 24px;
      }
    }
  }
}

/*-------- Redes Sociales -----------*/
.redes-modal-body{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .redes-modal_columns{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;

    & .redes-modal_column{
      display: flex;
      flex-direction: column;
      align-items: center;

      & .redes-modal_column-logo{
        width: 100%;
        display: flex;
        justify-content: flex-end;

        & img{
          height: 25px;
          width: auto;
        }

      }

      & img{
        width: 100%;
      }

      & ul{
        display: grid;
        gap: 20px;
        margin-top: 20px;
        width: 80%;
        font-size: 24px;

        & li{
          display: flex;
          list-style: none;
          gap: 20px;
          align-items: center;
  
          & img{
            width: 40px;
          }
        }
      }

      & span{
        color: var(--primary-color);
        font-size: 36px;
        font-weight: bold;
      }
    }
  }

  & .redes-modal_followers{
    display: flex;
    font-size: 36px;
    margin-top: 20px;
    gap: 20px;
    color: var(--primary-color);
    font-weight: bold;
    align-items: center;

    & span{
      background-color: var(--secundary-color);
      border-radius: 0px 10px 0px 10px;
      padding: 20px;
      display: flex;
      gap: 20px;
      align-items: center;
      height: 40px;

      & svg{
        width: 20px;
        height: 20px;
        fill: #fff;
      }
    }
  }

  & .redes-modal_description{
    font-size: 18px;
    width: 90%;
    text-align: center;
    margin: 40px 0px;
  }

  & .redes-modal_prise{
    font-size: 36px;

    & span{
      color: var(--primary-color);
      font-weight: bold;

      & small{
        font-size: 24px;
      }
    }
  }

  & .redes-modal_size{
    width: 80%;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 30px;

    & ul{
      list-style: none;
      padding: 0;
      font-size: 18px;

      & h4{
        font-size: 28px;
        font-weight: bold;
      }

      & p{
        font-size: 20px;
        color: grey;
      }

      & span{
        color: var(--primary-color);
      }
    }
  }

}

/*-------- Salas de espera -----------*/
.sala-modal-body{
  display: flex;
  flex-direction: column;
  align-items: center;

  & .sala-modal_example{
    width: 100%;
    display: flex;
    gap: 20px;

    & img{
      width: 50%;
    }

    & .sala-modal_example-show{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
      height: 100%;
       
      & p{
        width: 100%;
        margin: 0;
       }
      
       & img{
        width: 45%;
       }

       & .costa{
        padding: 0px 30px;
       }

       & a{
        width: 50%;
        color: var(--secundary-color);
        fill: var(--secundary-color);
        display: flex;
        gap: 10px;
        text-decoration: none;
        transition: .2s;
       }

       & a:hover{
        scale: 1.05;
       }
    }
  }

  & .sala-modal_data{
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 20px;
    margin: 30px;

    & .sala-modal_data-rows{
      display: flex;
      gap: 10px;
      align-items: center;
      font-size: 36px;

      & span{
        font-weight: bold;
        color: var(--primary-color);
      }

      & svg{
        fill: var(--secundary-color);
        width: 80px;
        height: 80%;
      }
    }
  }

  & .sala-modal_prise{
    font-size: 36px;
    font-weight: bold;

    & span{
      color: var(--primary-color);

      & small{
        font-size: 24px;
      }
    }
  }

  & .sala-modal_size{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;

    & h4{
      width: 100%;
    }

    & img{
      width: 10%;
    }

    & ul{
      margin: 0;
      padding: 0px 20px;
      list-style: none;
      font-size: 18px;

      & li span{
        color: var(--primary-color);
      }
    }
  }

}

/*-------- Sampling -----------*/
.sampling-modal-body{
  display: flex;
  flex-direction: column;
  align-items: center;

  & .sampling-modal_example{
    display: flex;

    & img{
      width: 65%;
    }

    & .sampling-modal_example-prohibition {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & svg{
        margin-bottom: 20px;
        width: 40%;
        height: 40%;
        fill: var(--secundary-color);
      }

      & p{
        width: 70%;
        color: var(--secundary-color);
        font-weight: bolder;
        margin: 0;
        padding: 0;
        font-size: 20px;
      }
    }
  }

  & .sampling-modal_description{
    width: 90%;
    text-align: justify;
  }

  & .sampling-modal_prise{
    text-align: center;
    font-size: 36px;

    & span{
      color: var(--primary-color);
      font-weight: bold;

      & small{
        font-size: 24px;
      }
    }
  }

  & .sampling-modal_data{
    display: flex;
    align-items: center;
    font-size: 36px;
    gap: 20px;
    margin: 20px 0px;

    & span{
      color: var(--primary-color);
      font-weight: bold;
    }

    & svg{
      fill: var(--secundary-color);
      width: 100px;
      height: 100px;
    }
  }
}

/*-------- Web Page -----------*/
.sweb-modal-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  & .sweb-modal_example{
    display: grid;
    width: 100%;
    padding: 25px;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;

    & .sweb-modal_example-cols{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      & .sweb-modal_example-cols-logo{
        display: flex;
        justify-content: flex-end;
        width: 100%;

        & img{
          width: 40%;
        }
      }

      & img{
        width: 100%;
      }

      & span{
        font-weight: bold;
        font-size: 24px;
        margin-top: 20px;

        & svg{
          width: 50px;
          height: 50px;
          fill: var(--secundary-color);
        }
      }
    }
  }

  & .sweb-modal__followers{
    display: flex;
    font-size: 36px;
    margin-top: 20px;
    gap: 20px;
    color: var(--primary-color);
    font-weight: bold;
    align-items: center;
    margin-bottom: 50px;

    & span{
      background-color: var(--secundary-color);
      border-radius: 0px 10px 0px 10px;
      padding: 20px;
      display: flex;
      gap: 20px;
      align-items: center;
      height: 40px;

      & svg{
        width: 20px;
        height: 20px;
        fill: #fff;
      }
    }
  }
}

/*-------- Banca con Techo -----------*/
.bancat-modal-body{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .bancat-modal_size{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

    & img{
      width: 60%;
    }
    & ul{
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 24px;
      color: red;

      & li span{
        color: black;
      }
    }
  }

  & .bancat-modal_prise{
    font-size: 36px;
    text-align: center;

    & span{
      color: red;
      font-weight: bold;

      & small{
        font-size: 24px;
      }
    }
  }

  & .bancat-modal_stations{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    text-align: center;
    justify-content: space-evenly;

    & p{
      width: 100%;
      font-size: 28px;
      font-weight: bold;
    }

    & .bancat-modal_stations-cols{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      gap: 20px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 50px;

      & img{
        width: 60%;
      }
    }
  }
}

/*-------- Banca sin Techo -----------*/
.banca-modal-body{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .banca-modal_size{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

    & img{
      width: 60%;
    }
    & ul{
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 24px;
      color: red;

      & li span{
        color: black;
      }
    }
  }

  & .banca-modal_prise{
    font-size: 36px;
    text-align: center;

    & span{
      color: red;
      font-weight: bold;

      & small{
        font-size: 24px;
      }
    }
  }

  & .banca-modal_stations{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    text-align: center;
    justify-content: space-evenly;

    & p{
      width: 100%;
      font-size: 28px;
      font-weight: bold;
    }

    & .banca-modal_stations-cols{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      gap: 20px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;

      & img{
        width: 60%;
      }
    }
  }
}

/*-------------- Responsive --------------------------*/

@media screen and (max-width:1024px){
  .cabecera-modal_p1-row{
    font-size: 20px;
  
    & svg {
      width: 50px;
      height: 50px;
    }
  }

  .pautobuses-modal-body{
    & .pautobuses-modal_screen-size{
      
      & ._screen-size_cols{
        width: 45%;

        & h4{
          width: 100%;
          margin: 0;
          font-weight: bold;
        }

        & img{
          width: 35%;
          height: 55%;
        }

        & ul{
          list-style: none;
          padding: 0;
          font-size: 14px;
          
          & span{
            color: var(--primary-color);
          }
        }

      }
    }
  }

  .portaboleto-modal-body{
  
    & .portaboleto-modal_example .portaboleto_example-rows .portaboleto_example-row{
      font-size: 28px;
      color: var(--primary-color);

      & svg{
        width: 50px;
        height: 50px;
      }
      
    }
  
    & .portaboleto_description{
      max-width: 90%;
      font-size: 16px;
    }
  
    & .portaboleto_size{
      width: 100%;
      padding: 0px 10px;

      & .portaboleto_size-cols{
  
        & h4{
          font-size: 24px;
        }
  
        & ul {
          font-size: 24px;
        }
      }
    }
  
    & .portaboleto_prise{
      font-size: 24px;
      
      & span small{
        font-size: 16px;
      }
    }
  }

  .sala-modal-body{
  
    & .sala-modal_example .sala-modal_example-show{
      & img{
        width: 40%;
       }

      & .costa{
        padding: 0px 10px;
      }

      & a{
        font-size: 14px;
      }
    }
  
    & .sala-modal_data{
      width: 65%;
  
      & .sala-modal_data-rows{
        font-size: 28px;
  
        & svg{
          fill: var(--secundary-color);
          width: 50px;
          height: 50%;
        }
      }
    }
  
    & .sala-modal_prise{
      font-size: 28px;
  
      & span small{
        font-size: 18px;
      }
    }
  
    & .sala-modal_size{
      display: flex;
      width: 70%;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: 20px 0px;
  
      & h4{
        width: 100%;
        text-align: center;
        font-size: 18px;
      }
  
      & ul{
        font-size: 16px;
      }
    }
  
  }

  .bancat-modal-body{
  
    & .bancat-modal_size ul{
      font-size: 18px;
    }
  }

  .banca-modal-body{
  
    & .banca-modal_size ul{
      font-size: 18px;
    }
  }
}

@media screen and (max-width:820px){
  .cabecera-modal_p1{
    gap: 20px;
  }
  .cabecera-modal_p1-row{
    font-size: 16px;
  
    & svg {
      width: 30px;
      height: 30px;
      margin-right: 15px;
      fill: var(--secundary-color);
    }
  }

  .cabecera-modal_p2{
    max-width: 90%;
    font-size: 16px;
  }

  .cabecera-modal_p3{
    grid-template-columns: 1fr;
  }

  .cabecera-modal_p4 p{
    font-size: 24px;
  }

  .lunch-modal-body{
  
    & img{
      max-width: 90%;
    }
  
    & .lunch-modal_lunch-data ._lunch-data_rows{
      font-size: 18px;
  
      & svg{
        width: 50px;
        height: 50px;
      }
    }
  
    & .lunch-modal_lunch-description{
      max-width: 90%;
      font-size: 16px;
    }
  
    & .lunch-modal_lunch-prise{
      font-size: 18px;
      text-align: center;
  
      & span{
        color: var(--primary-color);
        font-weight: bold;
      }
  
      & small{
        font-size: 12px;
      }
    }
  }

  .landing-modal-body{
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  
    & img{
    width: 100%;
    padding: 0px 20px;
    }
  
    & p{
      padding: 0px 20px;
    }
  
     
  
  }

  .pautobuses-modal-body{
  
    & .pautobuses-modal_screen-data ._screen-data_cols{

      & span{
        font-size: 24px;

        & svg{
          width: 30px;
          height: 30px;
        }

      }
    }
  
    & .pautobuses-modal_screen-prise{
      font-size: 16px;
      
      & p{
        font-size: 20px;
  
        & span{
          color: var(--primary-color);
          font-weight: bold;
        }
  
        & small{
          font-size: 12px;
        }
      }
    }
  
    & .pautobuses-modal_screen-size{
      
      & ._screen-size_cols{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        gap: 20px;
        justify-content: center;

  
        & h4{
          font-size: 18px;
          text-align: center;
        }
  
        & img{
          width: 70%;
          height: auto;
        }
  
      }
    }
  
  }

  .ptaquilla-modal-body{
  
    & .ptaquilla-modal_taquilla-data ._taquilla-data_rows{
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      & p{
        font-size: 14px;
      }

      & div {
        font-size: 14px;

        & svg {
          width: 30px;
        }
      }
    }
  
    & .ptaquilla-modal_taquilla-prise{
      margin-top: 20px;
      text-align: center;

      & small{
        font-size: 14px;
      }
  
      & p{
        font-size: 18px;
  
        & span{
          color: var(--primary-color);
          font-weight: bold;
        }
      }
    }
  
    & .ptaquilla-modal_taquilla-size{
      width: 100%;
      margin: 0;
      justify-content: space-between;
      gap:20px;
      flex-wrap: wrap;
  
      & ._taquilla-size_cols{
        width: 100%;
  
        & h4{
          font-size: 18px;
          text-align: center;
        }
  
        & svg{
          width: 100px;
          height: 100px;
        }
  
        & p{
          text-align: center;
          font-size: 16px;
        }
  
      }
    } 
  }

  .portaboleto-modal-body{
  
    & .portaboleto-modal_example {
      gap: 20px;
      
      & .portaboleto_example-rows .portaboleto_example-row{
        font-size: 16px;
        gap: 10px;
        color: var(--primary-color);
  
        & svg{
          width: 30px;
          height: 30px;
        }
      }
      
    }
  
    & .portaboleto_description{
      font-size: 14px;
    }
  
    & .portaboleto_size .portaboleto_size-cols{
      & h4{
        font-size: 16px;
      }

      & ul {
        font-size: 16px;
      }
    }
  }

  .redes-modal-body{
  
    & .redes-modal_columns{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 20px;
  
      & .redes-modal_column {
  
        & .redes-modal_column-logo{
  
          & img{
            height: auto;
            width: 40%;
          }
  
        }
  
        & ul{
          font-size: 18px;
          padding: 0;
  
          & li img{
            width: 30px;
          }
        }
  
        & span{
          font-size: 24px;
        }
      }
    }
  
    & .redes-modal_followers{
      font-size: 24px;
  
      & span{
        padding: 10px;
        height: 35px;
  
        & svg{
          width: 15px;
          height: 15px;
        }
      }
    }
  
    & .redes-modal_description{
      font-size: 14px;
      margin: 20px 0px;
    }
  
    & .redes-modal_prise{
      font-size: 24px;
  
      & span small{
        font-size: 16px;
      }
    }
  
    & .redes-modal_size{
      width: 95%;
      gap: 20px;
  
      & ul{
        font-size: 14px;
  
        & h4{
          font-size: 16px;
          font-weight: bold;
        }
  
        & p{
          font-size: 16px;
          color: grey;
        }
  
        & span{
          color: var(--primary-color);
        }
      }
    }
  
  }

  .sala-modal-body{
  
    & .sala-modal_example{
      flex-wrap: wrap;
      justify-content: center;
  
      & img{
        width: 80%;
      }
  
      & .sala-modal_example-show{
         
        & p{
          width: 90%;
          margin: 0;
          text-align: center;
        }
      }
    }
  
    & .sala-modal_data{
      width: 70%;
  
      & .sala-modal_data-rows{
        font-size: 18px;
  
        & svg{
          fill: var(--secundary-color);
          width: 50px;
          height: 50%;
        }
      }
    }
  
    & .sala-modal_prise{
      font-size: 24px;
  
      & span small{
        font-size: 16px;
      }
    }
  
    & .sala-modal_size{
      display: flex;
      width: 80%;
  
      & img{
        width: 10%;
      }
  
      & ul{
        margin: 0;
        padding: 0px 20px;
        list-style: none;
        font-size: 14px;
  
        & li span{
          color: var(--primary-color);
        }
      }
    }
  
  }

  .sampling-modal-body{
  
    & .sampling-modal_example{
  
      & img{
        width: 50%;
      }
  
      & .sampling-modal_example-prohibition {
  
        & svg{
          width: 50%;
          height: 50%;
        }
  
        & p{
          width: 90%;
          font-size: 16px;
        }
      }
    }
  
    & .sampling-modal_description{
      width: 90%;
      text-align: justify;
      font-size: 14px;
    }
  
    & .sampling-modal_prise{
      font-size: 24px;
  
      & span small{
        font-size: 16px;
      }
    }
  
    & .sampling-modal_data{
      font-size: 24px;
  
      & svg{
        width: 50px;
        height: 50px;
      }
    }
  }

  .sweb-modal-body{
    
    & .sweb-modal_example{
      padding: 10px;
      grid-template-columns: repeat(2,1fr);
      gap: 30px;
  
      & .sweb-modal_example-cols{
  
        & .sweb-modal_example-cols-logo img{
          width: 70%;
        }
  
        & span{
          font-weight: bold;
          font-size: 18px;
  
          & svg{
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  
    & .sweb-modal__followers{
      font-size: 24px;
    }
  }

  .bancat-modal-body{
  
    & .bancat-modal_size{
      gap: 10;
  
      & img{
        width: 50%;
      }
      & ul{
        font-size: 14px;
      }
    }
  
    & .bancat-modal_prise{
      font-size: 24px;
  
      & span small{
        font-size: 14px;
      }
    }
  
    & .bancat-modal_stations{
      width: 90%;
  
      & p{
        font-size: 18px;
      }
  
      & .bancat-modal_stations-cols{
        font-size: 14px;
      }
    }
  }

  .banca-modal-body{
  
    & .banca-modal_size{
      gap: 10;
  
      & img{
        width: 50%;
      }
      & ul{
        font-size: 14px;
      }
    }
  
    & .banca-modal_prise{
      font-size: 24px;
  
      & span small{
        font-size: 14px;
      }
    }
  
    & .banca-modal_stations{
      width: 90%;
  
      & p{
        font-size: 18px;
      }
  
      & .banca-modal_stations-cols{
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width:540px){
  .pautobuses-modal-body{
  
    & .pautobuses-modal_screen-data {
      grid-template-columns: 1fr;
    }
  
    & .pautobuses-modal_screen-prise{
      font-size: 14px;
      
      & p{
        font-size: 18px;
        margin-top: 15px;

      }
    }
  
    & .pautobuses-modal_screen-size ._screen-size_cols h4{
      font-size: 14px;
      text-align: center;
    }
  
  }

  .ptaquilla-modal-body{
  
    & .ptaquilla-modal_taquilla-data{
      width: 100%;

    } 
  }

  .portaboleto-modal-body{
  
    & .portaboleto-modal_example {
      gap: 20px;
      flex-wrap: wrap;

      & img{
        width: 90%;
      }
      
    }
  
    & .portaboleto_size {
      flex-wrap: wrap;

      & .portaboleto_size-cols{
        width: 100%;
      }
    }
  }

  .redes-modal-body{
  
    & .redes-modal_columns .redes-modal_column{
      & .redes-modal_column-logo img{
        width: 70%;
      }

      & ul{
        font-size: 16px;
      }

      & span{
        font-size: 18px;
      }
    }
  
    & .redes-modal_followers{
      font-size: 18px;
    }
  
    & .redes-modal_description{
      font-size: 14px;
      margin: 20px 0px;
    }
  
    & .redes-modal_prise{
      text-align: center;
    }
  
    & .redes-modal_size{
      grid-template-columns: 1fr;
      gap: 10px;
    }
  
  }

  .sala-modal-body{
  
    & .sala-modal_data{
      width: 90%;
  
      & .sala-modal_data-rows{
        font-size: 16px;
  
        & svg{
          fill: var(--secundary-color);
          width: 30px;
          height: 30%;
        }
      }
    }
  
    & .sala-modal_prise{
      font-size: 18px;
  
      & span small{
        font-size: 14px;
      }
    }
  
    & .sala-modal_size{
      display: flex;
      width: 95%;
  
      & img{
        width: 10%;
      }
  
      & ul{
        margin: 0;
        padding: 0px 20px;
        list-style: none;
        font-size: 14px;
  
        & li span{
          color: var(--primary-color);
        }
      }
    }
  
  }

  .sampling-modal-body{
  
    & .sampling-modal_example{
      flex-wrap: wrap;
  
      & img{
        width: 100%;
      }
  
      & .sampling-modal_example-prohibition {
  
        & svg{
          width: 50%;
          height: 50%;
        }
  
        & p{
          width: 90%;
          font-size: 16px;
          text-align: center;
        }
      }
    }
  
    & .sampling-modal_prise{
      font-size: 18px;
  
      & span small{
        font-size: 12px;
      }
    }
  
    & .sampling-modal_data{
      font-size: 18px;
  
      & svg{
        width: 30px;
        height: 30px;
      }
    }
  }

  .sweb-modal-body{
    
    & .sweb-modal_example{
      padding: 10px;
      grid-template-columns: 1fr;
      gap: 30px;
    }
  
    & .sweb-modal__followers{
      font-size: 24px;
    }
  }

  .bancat-modal-body{
  
    & .bancat-modal_size{
      flex-wrap: wrap;
      justify-content: center;
  
      & img{
        width: 80%;
      }
      & ul{
        font-size: 16px;
      }
    }

    & .bancat-modal_stations{
      width: 100%;
    }
  }

  .banca-modal-body{
  
    & .banca-modal_size{
      flex-wrap: wrap;
      justify-content: center;
  
      & img{
        width: 80%;
      }
      & ul{
        font-size: 16px;
      }
    }

    & .banca-modal_stations{
      width: 100%;
    }
  }
}
