.header{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right top, #004cfa, #0064ff, #0079ff, #008bff, #009cff, #009cff, #009cff, #009cff, #008bff, #0079ff, #0064ff, #004cfa);
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.render_zone{
  animation: opacity 1.5s;

}

.render_zone img{
  width: 100%;
}

.header::after{
  content: "";
  background-color: #fff;
  width: 120vw;
  height: 413px;
  position: absolute;
  bottom: -300px;
  left: 0;
  transform: rotateZ(-5deg);
  
}

.header_info_center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header_info{
  display: grid;
  justify-content: center;
  gap: 30px;
  width: 70%;
  color: #fff;
  font-size: 18px;
  animation: left_to_right 1s;
}

.header_info h2{
  font-size: 3vw;
}

.render_zone{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}



.nav{
  background-color: #fff;
  display: flex;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  min-height: 70px;
  padding: 10px;
  box-shadow: 0 3px 20px -6px rgba(0,0,0,.57);
  justify-content: center;
  animation: up_to_down .5s;
  overflow: hidden;
  z-index: 2;
}

.nav_center{
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.nav_center > img{
  height: 50px;
  animation: pop 2s;
}

.menu_container{
  display: flex;
  align-items: center;
  gap: 15px;
}

.principal_menu{
  display: flex;
  align-items: center;
  gap: 25px;
  transition: all .5s;
  margin: 0;
}

.principal_menu li{
  list-style: none;
  position: relative;
  cursor: pointer;
}

.select::before{
  position: absolute;
  content: '◉';
  top: 2px;
  color: var(--primary-color);
  left: -15px;
  animation: pop .5s;
}

.principal_menu li a{
  text-decoration: none;
  font-size: 18px;
  color: var(--primary-color);
  font-family: var(--titles-font);
}

.menu_mobile_title{
  display: none;
  width: 100%;
  justify-content: space-between;
  font-size: 24px;
  color: var(--primary-color);
  font-weight: bold;
}

.item_list_1{
  animation: up_to_down_pused 1.5s;
}

.item_list_2{
  animation: down_to_up_paused 2s;
}
.item_list_3{
  animation: up_to_down_pused 2.5s;
}
.item_list_4{
  animation: down_to_up_paused 3s;
}

.item_list_5{
  animation: up_to_down_pused 3.5s;
}

.search img{
  height: 20px;
  animation: down_to_up_paused 4s;
}

.search{
  display: flex;
  border-radius: 20px;
  transition: all .5s;
  cursor: pointer;
}

.search input{
  background: none;
  border: none;
  font-size: 16px;
  outline: none;
  width: 0px;
  transition: all .5s;
}

.btn_menu{
  height: 25px;
  display: none;
}

.btn_close_menu{
  display: none;
  transform: translateX(45vw) translateY(40px);
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: var(--secundary-color);
  backdrop-filter: blur(25px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_close_menu svg{
  width: 25px;
  height: 25px;
  fill: #fff;
}

.social_network{
  display: none;
  gap: 25px;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.social_network svg{
  fill: #fff;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
/*---------- Costumers ---------*/
.customers{
  width: 100%;
  display: grid;
  justify-content: center;
  opacity: 0;
  transition: 1.2s ease all;
}

.customers h2{
  font-size: 36px;
  padding:  20px;
  font-weight: bold;
  font-family: var(--titles-font);
  color: var(--primary-color);
}

.customers p{
  font-size: 24px;
}

.customers p span{
  font-weight: bold;
  color: var(--primary-color);
}
.customers_logo{
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-gap: 30px;
}
.customers_logo img{
  height: 230px;
}

/*------------------------- About Us ------------------------------*/

.about_us{
  background-image: var(--gradient);
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  position: relative;
  overflow: hidden;
}

.about_us::after{
  position: absolute;
  content: "";
  width: 120vw;
  height: 400px;
  background-color: #fff;
  transform: rotateZ(-5deg);
  top: -310px;
}
.about_us h2{
  color: #fff;
  font-size: 36px;
  width: 100%;
  max-width: 1200px;
  text-align: right;
}
.about_us_center{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  max-width: 1200px;
  justify-content: space-evenly;
  opacity: 0;
  transition: 1.2s ease all;
}
.card{
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  text-align: center;
  color: var(--primary-color);
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 1px 1px 12px 0px rgba(0,0,0, 0.35);
  transition: all .2s;
}
.card:hover{
  transform: translateY(-15px);
}
.card h3{
  font-size: 28px;
  font-weight: bold;
}
.card svg{
  width: 80px;
  height: 80px;
  fill: var(--primary-color);
}

/*---------- Branding Slid --------------*/
.branding{
  height: 100vh;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transition: 1.2s ease all;
}

.branding_info{
  background-color: rgba(0,0,0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: grid;
  place-items: center;
}

.branding_info_center{
  width: 90%;
  max-width: 820px;
  color: #fff;
  text-align: center;
}

.branding_info_center h2{
  font-size: 48px;
  font-weight: bold;
  color: var(--secundary-color);
}

/*---------- Digital --------------*/
.digital{
  width: 100%;
  padding: 100px 20px;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: 1.2s ease all;
}

.digital::after{
  position: absolute;
  content: "";
  width: 140vw;
  height: 400px;
  left: -100px;
  background-image: var(--gradient);
  transform: rotateZ(3deg);
  top: -334px;
}

.digital_center{
  width: 100%;
  max-width: 1200px;
  display: flex;
  gap: 30px;
  row-gap: 150px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.digital_center h2{
  width: 100%;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 36px;

}

.digital_card{
  width: 100%;
  position: relative;
  max-width: 320px;
  padding: 80px 20px 20px 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  justify-content: flex-end;
  box-shadow: 1px 1px 12px 0px rgba(0,0,0, 0.35);

}

.digital_card h3{
  color: var(--secundary-color);
  font-size: 24px;
}

.digital_card_counter{
  display: flex;
  flex-wrap: wrap;
  font-size: 48px;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -50px;
  left: 40px;
}

.digital_card_counter span{
  width: 35px;
  display: flex;
  justify-content: center;
}

.digital_card_counter svg{
  height: 50px;
  width: 100%;
  fill: rgb(2, 192, 2);
  margin-right: 10px;
  animation: up_infinite infinite 1.2s ;
}

.digital_card img{
  position: absolute;
  top: -130px;
  left: calc(50% - 100px);
}

/*---------- More servises ----------*/
.more_options{
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  transition: 1.2s ease all;
  overflow: hidden;
}

.more_options::after{
  position: absolute;
  content: "";
  width: 120vw;
  height: 400px;
  background-color: #fff;
  transform: rotateZ(3deg);
  top: -340px;
}


.galery_item{
  display: flex;
  width: 50%;
  position: relative;
  aspect-ratio: 16 / 10;
}
.galery_item img{
  width: 100%;
  object-fit: cover;
  transition: all .5s;
}

.galery_info{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.8);
  text-align: center;
  gap: 20px;
  color: #fff;
  transition: .5s;
}

.galery_info p{
  width: 100%;
  max-width: 70%;
}

.galery_info h3{
  font-size: 36px;
  color: var(--secundary-color);
  font-weight: bold;
}

/*---------------contact-----------------*/
.contact{
  width: 100%;
  background-image: url("../img/contact_background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 50px;
  opacity: 0;
  transition: 1.2s ease all;
}

.contact_center{
  width: 100%;
  max-width: 1200px;
  display: flex;
  border-radius: 20px;
  box-shadow: 1px 1px 12px 0px rgba(0,0,0, .7);
  background-color: rgba(255,255,255, .5);
  backdrop-filter: blur(25px);
}

.contact_info{
  width: 40%;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  border-radius: 20px;

}

.contact_info_image{
  width: 80%;
}
.contact_info_logo{
  height: 70px;
}

.contact_social_network{
  display: flex;
  gap: 20px;
}

.contact_social_network svg{
  width: 30px;
  height: 30px;

}

.contact_info p strong{
  color: var(--primary-color);
}
.contact_form{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 20px;
  justify-content: space-between;
  justify-content: center;
}

.contact_form h2{
  color: var(--primary-color);
  font-weight: bold;
  font-size: 36px;
  width: 100%;
  text-align: center;
}

.contact_input_short, .contact_input_complete{
  outline: none;
  border:2px solid transparent;
  background-color: #fff;
  padding: 10px;
  color: #101010;
  border-radius: 50px;
}

.contact_input_short:focus, 
.contact_input_complete:focus, 
.contact_form textarea:focus{
  border:2px solid var(--primary-color);
}

.contact_input_short{
  width: 48%;
}
.contact_input_complete{
  width: 100%;
}
.form_btn svg{
  height: 20px;
  width: 20px;
  fill: #fff;
}

.contact_form textarea{
  width: 100%;
  height: 300px;
  outline: none;
  border: none;
  background-color: #fff;
  padding: 10px;
  color: #101010;
  border-radius: 10px;
}

.form_btn{
  gap: 15px;
  display: flex;
  border: none;
  align-items: center;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 25px;
  padding: 10px 25px;
  transition: all .2s;
}

.form_btn p{
  font-size: 18px;
  margin: 0;
}

.form_btn:hover{
  transform: scale(1.05);
}

.form_btn:active{
  transform: scale(0.95);
}
/*--------- footer -------------------*/
footer{
  width: 100%;
  display: flex;
  padding: 100px 0px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer h3{
  max-width: 1200px;
  width: 100%;
  text-align: center;
  font-size: 14px;
}
.social_network_footer{
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.social_network_footer svg{
  height: 30px;
  width: 30px;
  fill: #101010;
  transition: all .2s;
}
.social_network_footer svg:hover{
  transform: scale(1.1);
  fill: var(--primary-color);
  cursor: pointer;
}
/* <==================================================== Start Responsive =====================================================> */

@media screen and (max-width:1024px) {
  .header_info{
    width: 90%;
    gap: 10px;
    font-size: 14px;
  }

  .header_info h2{
    font-size: 36px;
  }

  .customers{
    padding: 20px;
  }

  .customers h2{
    font-size: 36px;
  }

  .customers img{
    height: 180px;
  }

  .about_us{
    padding: 100px 20px;
  }

  .galery_item{
    aspect-ratio: 1/1;
    font-size: 14px;
  }
  .galery_info h3{
    font-size: 24px;
  }

  .contact_input_short{
    width: 47%;
  }
}

@media screen and (max-width:820px) {
  .nav{
    overflow: initial;
    padding: 10px 20px;
  }

  .header{
    min-height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 70px
  }

  .header::after{
    bottom: -350px;
  }

  .header_info{
    padding: 30px 20px;
    font-size: 16px;
  } 
  .render_zone{
    overflow: hidden;
    height: calc(70vw - 200px);
  }
  .render_zone img{
    width: 70%;
    transform: translateY(-50px)
  }

  .principal_menu{
    position: fixed;
    background-color: var(--secundary-color);
    padding: 20px;
    top:0;
    left: 0;
    width: 50vw;
    height: 100vh;
    z-index: 2;
    flex-direction: column;
    padding: 40px 10px;
    align-items: flex-start;
    transform: translateX(-100vw);

  }

  .menu_mobile_title{
    display: flex;
    color: var(--primary-color);
    margin-left: 20px;
    font-size: 32px;
    border-bottom: 2px solid #fff;
    width: 80%;
  }
  .principal_menu li{
    margin-left: 20px;
  }
   .principal_menu li a{
    color: #fff;
    font-size: 24px;
    margin-left: 20px;

  }
  .social_network{
    display: flex;
    fill: var(--primary-color);
  }
  .item_list_1, .item_list_2, .item_list_3, .item_list_4{
    animation: none;
  }
  .select::before{
    content: "⟫";
    font-size: 24px;
    top:-3px;
    color: #fff;
    
  }
  .btn_menu, .btn_close_menu{
    display: flex;
  }
  .search{
    justify-content: flex-end;
  }
  .search img{
    animation: up_to_down_pused 1.5s;
    height: 30px;
  }
  /*----------------- brand Slide -------------------*/
  .branding{
    height: initial;
  }

  /*------------ Digital ------------------*/
  .digital{
    padding: 50px 20px;
  }
  .digital::after{
    top: -370px;
  }

  .digital h2{
    margin-bottom: 0px;
  }
  /*-----------------contact---------------*/
  .contact_form textarea{
    height: 200px;
  }
  .contact_form h2{
    font-size: 24px;
  }

  .contact_input_short, 
  .contact_input_complete,
  .contact_form textarea{
    font-size: 14px;
  }
}

@media screen and (max-width:540px){

  .principal_menu{
    width: 80vw;
  }
  .btn_close_menu{
    transform: translateX(68vw) translateY(40px);
  }
  .menu_container{
    width: 100%;
    justify-content: flex-end;
  }

  .header{
    min-height: 100vh;
  }

  .header_info{
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }

  .header_info h2{
    font-size: 28px;
  }

  .render_zone{
    height: auto;
  }
  .render_zone img{
    width: 100%;
  }
  /*-------- costumers -------------*/
  .customers{
    padding: 10px;
  }
  .customers h2{
    font-size: 28px;
    padding: 0px;
  }
  .customers p{
    font-size: 18px;
  }

  .customers_logo img{
    width: 40%;
    height: auto;
  }
  /*-------- about us -------------*/
  .about_us h2{
    font-size: 28px;
  }
  /*-------- Branding -------------*/

  .branding_info h2{
    font-size: 24px;
  }

  .branding_info p{
    font-size: 14px;
  }
  .portfolio{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .galery_info h3, .galery_info_2 h3, .galery_title{
    font-family: var(--titles-font);
    font-size: 5vw;
  }
  .about_us{
    padding: 50px 10px;
  }
  .about_us::after{
    top: -380px;
  }
  /*---------- digital --------------*/
  .digital_center h2{
    font-size: 28px;
  }
  /*-------- more options --------*/

  .more_options{
    padding-top: 50px;
  }
  .galery_item{
    width: 100%;
  }
  .galery_info{
    padding: 10px;
  }
  .galery_info p{
    max-width: 90%;
  }
  /*-------- contact ------------*/
  .contact{
    padding: 10px;
  }
  .contact_center{
    flex-direction: column;
    background-color: transparent;
    backdrop-filter: none;
    box-shadow: none;
  }
  .contact_info, .contact_form{
    width: 100%;
    padding: 10px;
  }

  .contact_form{
    gap: 15px;
    margin-top: 30px;
    background-color: rgba(255,255,255, .5);
    border-radius: 10px;
    backdrop-filter: blur(25px);
  }

  .contact_input_short{
    width: 100%;
  }

  .form_btn{
    width: 100%;
    justify-content: center;
  }

}

